.navbar__search-box {
    width: 20rem;
}

.navbar__nav {
    position: relative;
    flex-grow: 1;
}

@media only screen and (min-width: 993px) {
    .show-large {
        display: block;
    }
}

@media only screen and (max-width: 992px) {
    .show-small {
        display: block;
    }
    .navbar__search-box {
        order: 1;
        width: auto;
    }
    .navbar__logo {
        order: 2;
    }
    .navbar__nav {
        flex-grow: 0;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;
        box-shadow: 0 0 4px #4444;
    }
}