.features {
    position: relative;
    top: -5rem;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    &__box {
        flex-grow: 1;
        @include Box(30, auto);
        padding: 1rem 2rem;
        margin: 2rem;
        background-color: $color-white;
        box-shadow: 0 8px 16px 0 rgba($color-blue_3, .2);
        border-radius: 1rem;
        transition: .3s all ease;
        text-align: center;
        &:hover {
            transform: scale(1.07);
        }
    }
    @media only screen and (max-width: 992px) {
        top: 0;
    }
}