.features {
    position: relative;
    top: -5rem;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    &__box {
        flex-grow: 1;
        @include Box(30rem, auto);
        padding: 1rem 2rem;
        margin: 2rem;
        background-color: $color-white;
        box-shadow: 0 8px 16px 0 rgba($color-blue_3, .2);
        border-radius: 1rem;
        transition: .3s all ease;
        text-align: center;
        &:hover {
            transform: scale(1.07);
        }
    }
    &__text {
        padding: 1rem;
        &>h2 {
            white-space: nowrap;
        }
        @media only screen and (max-width: 370px) {
            &>h2 {
                font-size: 2rem;
                white-space: normal;
            }
            &>p {
                font-size: 1.7rem;
            }
        }
    }
    &__box:first-child .features__text>h2 {
        margin: 1rem 0 0 0;
    }
    @media only screen and (max-width: 992px) {
        top: 0;
    }
}

.plans {
    position: relative;
    &__cards {
        position: relative;
        @include Flex(center, center);
        @media only screen and (max-width: 992px) {
            flex-direction: column;
        }
    }
    &__background {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include bg-gradient($purple-gradient);
        width: 100%;
        height: 20rem;
        &::after,
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100px;
            background: url("../../image/wave-plans.svg");
            background-size: 100% 100%;
            background-position-y: top;
        }
        &::after {
            transform: rotate(.5turn);
        }
    }
}

.about {
    padding: 8rem;
    background-color: $color-cream_1;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    text-align: center;
    &__boxes {
        @include Flex(space-evenly,
        center);
        @media only screen and (max-width: 992px) {
            flex-direction: column;
            padding: 0;
        }
    }
    @media only screen and (max-width: 992px) {
        padding: 10rem .5rem;
    }
}

.contact {
    position: relative;
}

.testiamonials {
    padding: 7rem 1rem;
    &__boxes {
        @include Flex(space-evenly,
        center);
        @media only screen and (max-width: 992px) {
            flex-direction: column;
        }
    }
}

.footers {
    background: url("../../image/background-footer.jpg") center/cover no-repeat;
    &__copyright {
        padding: 2rem;
        text-align: center;
        color: $color-white;
        font-size: 1.5rem;
        & a {
            color: $color-green-1;
        }
    }
}