.navbar {
    &__container {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    &__search-box {
        width: 20rem;
        &__logo {
            margin: auto;
        }
        @media only screen and (max-width: 992px) {
            order: 1;
            width: auto;
        }
    }
    &__nav {
        position: relative;
        flex-grow: 1;
        @media only screen and (max-width: 992px) {
            flex-grow: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        position: sticky;
        z-index: 30;
        top: 0;
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    @media only screen and (max-width: 992px) {
        &__logo {
            order: 2;
        }
    }
}