.video {
    position: relative;
    display: block;
    &__video-bg {
        display: block;
        width: 100%;
        max-width: 45rem;
        height: 100%;
        max-height: 42rem;
    }
    &__svg {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        max-width: 45rem;
        height: 100%;
        max-height: 45rem;
    }
    &__st0 {
        fill: $color-orange_4;
    }
    &__st1 {
        stroke: $color-orange_4;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-dasharray: 0;
        animation: video-stroke 3s linear infinite alternate;
    }
}