$file-path: '../';
$color-blue_1: #0d62da;
$color-blue_2: #2196f3;
$color-blue_3:#457b9d;
$color-blue_4:#edfcff;
$color-green-1:#d3f4f2;
$color-orange_1:#e76f51;
$color-gray_1:#F1F1F1;
$color-gray_2:#CCCCCC;
$color-gray_3:#444444;
$color-gray_4:#999999;
$color-brown_1: #3c4858;
$cubic-bezier: cubic-bezier(.16, -0.51, .83, 1.47);