@font-face {
    font-family: 'sans';
    src: fonts('iran_sans_regular_mmrostami.blog.ir-webfont.eot');
    src: fonts('iran_sans_regular_mmrostami.blog.ir-webfont.eot?#iefix') format('embedded-opentype'), fonts('iran_sans_regular_mmrostami.blog.ir-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akaya";
    src: fonts("AkayaKanadaka-Regular.woff");
    src: fonts("AkayaKanadaka-Regular.ttf") format(ttf);
    src: fonts("AkayaKanadaka-Regular.eot") format(eot);
    src: fonts("AkayaKanadaka-Regular.woff2") format(woff2);
}